<app-header></app-header>

<div class="container mt-4" *ngIf="gameDay">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Spieltag am {{ gameDay.date | date: 'mediumDate'}} </h2>
        <a [routerLink]="['/']" class="back-link">
            &lt;-- Zurück zu allen Spieltagen
        </a>
    </div>

    <p><strong>Ort:</strong> {{ gameDay.location }}</p>
    <p><strong>Spielbeginn:</strong> {{ gameDay.startTime }}</p>

    <button class="btn btn-primary" (click)="openCarOfferModal()">Fahrgemeinschaft anbieten</button>

    <h3 class="mt-4">Fahrgemeinschaften:</h3>
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let car of gameDay.cars">
            <app-car-card [car]="car"></app-car-card>
        </div>
    </div>
</div>
